{% if site.ga_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.ga_analytics }}', { 'anonymize_ip': true });
  </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RS9EXPE2CJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RS9EXPE2CJ');
</script>

{% endif %}

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->
 <script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-performance.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB95VU6zN5uoJGe9rHNjlSu2FJE9RYyVsI",
    authDomain: "scottshapiro-db01a.firebaseapp.com",
    databaseURL: "https://scottshapiro-db01a.firebaseio.com",
    projectId: "scottshapiro-db01a",
    storageBucket: "scottshapiro-db01a.appspot.com",
    messagingSenderId: "874250748312",
    appId: "1:874250748312:web:34362b72b3483d74"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  var perf = firebase.performance();
</script>
